*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.ptx
*.ptx.c
*_g
\#*
.\#*
/.config
/.version
/ffmpeg
/ffplay
/ffprobe
/config.asm
/config.h
/coverage.info
/avversion.h
/lcov/
/src
/mapfile
#generated
ab-suite.git.reset.log
/build-static-64bit
ffmpeg-0001-configure-fix-failures-with-long-command-lines.patch
configure.orig